<launch>

<node 
	pkg="stage_ros"
	type="stageros"
	name="stage_app"
	respawn="false"
	args="/home/csguest/catkin_ros/src/Stage/willow-erratic.world"
/>

<node 
	pkg="assigment2"
	type="stage_mover"
	name="rrt visual"
	respawn="false"
/>

<node 
	pkg="stage_control"
	type="stage_mover"
	name="stage_mover_demo"
	respawn="false"
/>
</launch>
